.menus{

}
.layout{
    position: relative;
    left: 7rem;
    margin: 3rem 2rem 3rem 4rem;    
    width: 73%;
    &__user{
    }
    &__chartsActivity{

    }
    &__charts{
        display: flex;
        margin:20px 0;

        &__session{
        
        }
        &__web{
        margin: 0 10px;
        }
        &__score{
        
        }
    }
    &__chartsPerf{
    right: -270px;
    top: 35px;
    position: absolute;
    }
}