.layout {
  position: relative;
  left: 7rem;
  margin: 3rem 2rem 3rem 4rem;
  width: 73%;

  &__user {
    margin-bottom: 2rem;
  }

  &__charts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 70px 0 0;

    &__activity {
      margin-bottom: 2rem;
    }

    &__square {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      margin-bottom: 1.25rem;

      &__session,
      &__Web,
      &__Score {
        flex: 1;
      }
    }
  }
  &__perf {
    margin-top: 1.25rem;
  }
}

@media screen and (max-width: 1400px) {
  .layout {
    &__charts {
      &__square {
        order: 1;
      }
    }
    &__perf {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 1.25rem;
      order: 2;
      position: relative;
    }
  }
}
