.user{
    font-size: 48px;
    &__h1{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        &__bonjour{
            color:#000
        }
        &__name{
            color:#ff0000;
        }   
    }
    &__text{
        font-size: 24px;
    }
    &__loading{
        
    }
}