.PieChart {
  background-color: #fbfbfb;
  width: 258px;
  height: 263px;
  border-radius: 0.5rem;
}

.PieChartLabelScore {
  font-size: 18px;
  fill: #000;
  font-weight: bold;
  text-anchor: start;
}

.PieChartLabelCenter {
  font-size: 24px;
  fill: #000;
  font-weight: bold;
  text-anchor: middle;
}
.PieChartLabelObjective {
  font-size: 16px;
  fill: #000;
  font-weight: normal;
  text-anchor: middle;
}
